# =============================================================================
# project CLI and execution context (environment) configuration
# =============================================================================

# run Taskfile.ts in the current working directory (CWD)
alias cwd-task='deno run --unstable -A ./Taskfile.ts'

# run Taskfile.ts in the root of the Git repository
alias repo-task='deno run --unstable -A $(git rev-parse --show-toplevel)/Taskfile.ts'

# find the first Taskfile.ts in either the current directory or any parent directory
alias path-task='deno run --unstable -A $(/bin/bash -c '\''file=Taskfile.ts; path=$(pwd); while [[ "$path" != "" && ! -e "$path/$file" ]]; do path=${path%/*}; done; echo "$path/$file"'\'')'
